<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>AngularJS Form Builder by Yordan Nikolov</title>

    <link href="images/favicon.ico" rel="shortcut icon">
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Serif+Pro|Open+Sans' rel='stylesheet' type='text/css'>

    <!-- build:css demo.min.css -->
    <!-- <link href="demo.css" media="all" rel="stylesheet" type="text/css"> -->
    <!-- /build -->

</head>

<body ng-controller="MainCtrl">
	<div class="header">
        <h1>ngFormBuilder</h1>
        <h2>Create more powerfull form with ngFormBuilder</h2>
    </div>

	<div class="main card">
		<form form-group="formGroup" class="card-body" ng-submit="submitForm($event)">
			<div class="form-group">
				<input type="text" class="form-control" form-control-name="title" placeholder="Recipe title"/>
			</div>
			<div class="form-group">
				<textarea class="form-control" form-control-name="description" placeholder="Short description"></textarea>
			</div>
			<div class="form-group">
			<select class="form-control" multiple form-control-name="category">
				<option ng-repeat="x in ['Dinner', 'Dessert', 'Breakfast', 'Salads', 'Soups']" value="{{$index}}">{{ x }}</option>
			</select>
			</div>
			<div class="form-group">
			<ul class="list-unstyled">
				<li form-array-name="ingradients" ng-repeat="item in formGroup.controls.ingradients.controls">
					<div form-group-name="{{$index}}" class="row mb-3">
						<div class="col">
							<input class="form-control" placeholder="Ingradient" form-control-name="name">
						</div>
						<div class="col">
							<input class="form-control" placeholder="Quatitty" form-control-name="quantity">
						</div>
						<div class="col">
							<button type="button" class="btn btn-secondary" ng-click="remove($index)">Remove</button>
						</div>
					</div>
				</li>
			</ul>
			<div class="row">
				<div class="col mb-5">
					<button ng-click="add()" class="btn btn-primary float-left" type="button">Add</button>
				</div>
			</div>
			<input type="submit" class="form-control"/>
		</form>
	</div>


	<!-- build:js demo.min.js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../src/angular-form-builder.js"></script>
    <script src="demo.js"></script>
    <!-- /build -->
</body>
</html>